.navbar {
    margin-bottom: 0;
}

select {
    margin-bottom: 5%;
}

.underline {
    text-decoration: underline;
}

.players-panel, .stocks-panel {
    height: 100vh;
    overflow: auto;
    padding-bottom: 1%;
}

.highcharts-container svg text[zIndex="8"] {
    display: none
}

.navbar-brand {
    font-family: Serif, serif;
    font-size: 1.5em;
}

th {
    background: lightgrey;
}

.row-buy {
    background: lightgreen
}

.row-sell {
    background: lightcoral;
}
