.navbar {
    margin-bottom: 0;
}

select {
    margin-bottom: 5%;
}

.players-panel, .stocks-panel {
    height: 100vh;
    overflow: auto;
    padding-bottom: 1%;
}

.players-panel {
    background:red
}

.stocks-panel {
    background:green
}

.highcharts-container svg text[zIndex="8"] {
    display: none
}